html {
  font-size: 100px;
  /*640*/
}
html,
body {
  height: 100%;
  overflow: hidden;
  background: #f4f4f4;
  position: relative;
  z-index: -4;
}
.change {
  font-size: 16px;
}
.change .left {
  animation: floatLeft 1s forwards infinite;
  position: fixed;
  top: 50%;
  left: 5px;
}
.change .right {
  animation: floatRight 1s forwards infinite;
  position: fixed;
  right: 10px;
  top: 50%;
}
.music {
  background-image: url('../img/musicon.png');
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  right: .3rem;
  top: .3rem;
  width: .8rem;
  height: .8rem;
}
.mainBox {
  margin: 0 auto;
  max-width: 640px;
  height: 100%;
  background: #fff;
  position: relative;
  z-index: -3;
}
/*公共部分*/
.loadingBox {
  height: 100%;
  overflow: hidden;
  position: relative;
}
/*loading*/
.loadingBox {
  background-color: #04978f;
  background-size: cover;
}
.loadingBox .title {
  width: 100%;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -2.1rem;
  height: 1.6rem;
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
}
.loadingBox .title h1 {
  line-height: .75rem;
  font-size: .4rem;
  text-align: center;
}
.loadingBox .title h2 {
  margin-top: .2rem;
  line-height: .45rem;
  text-align: center;
  letter-spacing: .04rem;
  font-size: .5rem;
}
.loadingBox .progress {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0.85rem 0 0 -2.3rem;
  width: 4.6rem;
  height: .3rem;
  background: #fff;
}
.loadingBox .progress .current {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: -webkit-linear-gradient(left bottom, #5CB85C 0%, #5CB85C 25%, #74C274 25%, #74C274 50%, #5CB85C 50%, #5CB85C 75%, #74C274 75%, #74C274 100%);
  background: linear-gradient(left bottom, #5CB85C 0%, #5CB85C 25%, #74C274 25%, #74C274 50%, #5CB85C 50%, #5CB85C 75%, #74C274 75%, #74C274 100%);
  background-size: .3rem .3rem;
  animation: loadingMove 0.5s linear infinite both;
  transition: .3s;
}
@keyframes loadingMove {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 -0.3rem;
  }
}
.oneBox {
  display: none;
  background: url(../img/wenli.png);
  width: 100%;
  height: 100%;
}
.oneBox .contain {
  position: relative;
  width: 100%;
  height: 100%;
  padding-top: .6rem;
}
.oneBox .contain .picture {
  margin: auto;
  margin-bottom: .15rem;
  width: 2.3rem;
  height: 2.3rem;
  overflow: hidden;
  border: #027788 solid .08rem;
  border-radius: 50%;
  animation: rotateIn 2s;
}
.oneBox .contain .picture img {
  width: 100%;
  height: 100%;
}
.oneBox .contain .msg {
  display: none;
  font-size: .35rem;
  color: #027788;
  margin-left: .6rem;
  line-height: .75rem;
}
.oneBox .contain .msg .title {
  font-size: .4rem;
  animation: zoomIn 2s;
}
.oneBox .contain .msg ul li {
  animation: zoomIn 2s;
}
.oneBox .contain .page {
  display: none;
  position: absolute;
  left: .6rem;
  bottom: 1.25rem;
  background: #027788;
  font-size: .35rem;
  color: #fff;
  padding: 0.15rem;
  border-radius: .2rem;
  animation: rubberBand 2s;
}
.twoBox {
  display: none;
  background: url('../img/leaves.png');
  width: 100%;
  height: 100%;
  padding-top: .5rem;
}
.twoBox .page {
  margin-left: .5rem;
  width: 2.3rem;
  background: #027788;
  font-size: .4rem;
  color: #fff;
  padding: 0.15rem;
  border-radius: .2rem;
  margin-bottom: 25px;
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-name: bounceIn;
  animation-name: bounceIn;
}
.twoBox .inner {
  width: 80%;
  padding: 20px;
  position: relative;
  box-sizing: border-box;
  margin: 0 auto .4rem;
}
.twoBox .inner img {
  display: none;
  width: 100%;
  animation: rollIn 2s;
}
.twoBox .inner ul li {
  display: none;
  position: absolute;
  width: .8rem;
  height: .8rem;
  border-radius: 50%;
  background-color: #17ac7a;
  color: #fff;
  font-size: 18px;
  text-align: center;
  line-height: .8rem;
  animation: rotateIn 2s;
}
.twoBox .inner ul li:nth-child(1) {
  right: 2%;
  top: 29%;
}
.twoBox .inner ul li:nth-child(2) {
  right: 40%;
  top: 38%;
}
.twoBox .inner ul li:nth-child(3) {
  right: 48%;
  top: 0;
}
.twoBox .inner ul li:nth-child(4) {
  top: 46%;
  left: 2%;
}
.twoBox .inner ul li:nth-child(5) {
  left: 51%;
  bottom: 0;
}
.twoBox .bottom {
  position: relative;
  height: 36%;
  padding: .5rem;
}
.twoBox .bottom .sec {
  font-size: .3rem;
  display: none;
  -webkit-animation: fadeIn 2s;
  animation: fadeIn 2s;
  height: 100%;
}
.twoBox .bottom .sec .prc {
  overflow: scroll;
  height: 100%;
}
.twoBox .bottom .sec .point {
  display: inline-block;
  width: 8px;
  height: 8px;
  background-color: #000;
  border-radius: 50%;
  margin-right: 10px;
}
.twoBox .bottom .dec {
  display: none;
  position: absolute;
  width: 100px;
  height: 18px;
  background-color: #5CB85C;
  -webkit-animation: fadeIn 2s;
  animation: fadeIn 2s;
}
.twoBox .bottom .dec:nth-child(1) {
  left: 0;
  top: 0;
}
.twoBox .bottom .dec:nth-child(2) {
  bottom: 0;
  right: 0;
}
.threeBox {
  display: none;
  background-image: url('../img/3.png');
  height: 100%;
  width: 100%;
  padding-top: .5rem;
}
.threeBox .page {
  width: 100%;
  margin: auto;
  width: 2.3rem;
  background: #027788;
  font-size: .4rem;
  color: #fff;
  padding: 0.15rem;
  border-radius: .2rem;
  margin-bottom: 30px;
  animation: bounceInDown 1s;
}
.threeBox .inner {
  width: 100%;
  display: none;
  height: 80%;
  animation: fadeInDown 1s;
  overflow: scroll;
}
.threeBox .inner .content {
  display: none;
  background-image: url('../img/1.png');
  background-repeat: no-repeat;
  background-size: 5.5rem 3rem;
  background-position-x: center;
  font-size: .3rem;
  text-align: center;
  padding: .5rem;
  margin-bottom: .3rem;
  animation: fadeInDown 1s;
}
.threeBox .inner .content .pro {
  display: block;
  width: 100%;
  height: .6rem;
  line-height: .6rem;
  font-size: .4rem;
  text-align: center;
}
.threeBox .inner .content p {
  width: 84%;
  margin: auto;
}
.endBox {
  display: none;
  width: 100%;
  height: 100%;
  background-color: #04978f;
}
.endBox .ma {
  width: 100%;
  padding: 1rem 0;
  text-align: center;
  animation: flip 1s;
}
.endBox .ma img {
  width: 2.5rem;
  height: 2.5rem;
}
.endBox .line {
  width: 66.6%;
  height: 2.5px;
  background-color: #3a3636;
  margin: auto;
}
.endBox .line:nth-child(4) {
  animation: slideInRight 1s;
}
.endBox .line:nth-child(2) {
  animation: slideInLeft 1s;
}
.endBox .til {
  font-size: .7rem;
  color: #3a3636;
  margin: .5rem;
  text-align: center;
}
.endBox .info {
  color: #fff;
  font-size: .35rem;
  height: .7rem;
  line-height: .7rem;
  text-align: center;
}
@-webkit-keyframes rotateIn {
  from {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, -200deg);
    transform: rotate3d(0, 0, 1, -200deg);
    opacity: 0;
  }
  to {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
@keyframes rotateIn {
  from {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, -200deg);
    transform: rotate3d(0, 0, 1, -200deg);
    opacity: 0;
  }
  to {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
@-webkit-keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}
@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}
@-webkit-keyframes rubberBand {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes rubberBand {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes bounceIn {
  from,
  20%,
  40%,
  60%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }
  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }
  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97);
  }
  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
.bounceIn {
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-name: bounceIn;
  animation-name: bounceIn;
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}
@-webkit-keyframes rollIn {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg);
    transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes rollIn {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg);
    transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes bounceInDown {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0);
  }
  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes bounceInDown {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0);
  }
  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes flip {
  from {
    -webkit-transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 0) rotate3d(0, 1, 0, -360deg);
    transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 0) rotate3d(0, 1, 0, -360deg);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  40% {
    -webkit-transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
    transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  50% {
    -webkit-transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
    transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  80% {
    -webkit-transform: perspective(400px) scale3d(0.95, 0.95, 0.95) translate3d(0, 0, 0) rotate3d(0, 1, 0, 0deg);
    transform: perspective(400px) scale3d(0.95, 0.95, 0.95) translate3d(0, 0, 0) rotate3d(0, 1, 0, 0deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  to {
    -webkit-transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 0) rotate3d(0, 1, 0, 0deg);
    transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 0) rotate3d(0, 1, 0, 0deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
}
@keyframes flip {
  from {
    -webkit-transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 0) rotate3d(0, 1, 0, -360deg);
    transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 0) rotate3d(0, 1, 0, -360deg);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  40% {
    -webkit-transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
    transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  50% {
    -webkit-transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
    transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  80% {
    -webkit-transform: perspective(400px) scale3d(0.95, 0.95, 0.95) translate3d(0, 0, 0) rotate3d(0, 1, 0, 0deg);
    transform: perspective(400px) scale3d(0.95, 0.95, 0.95) translate3d(0, 0, 0) rotate3d(0, 1, 0, 0deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  to {
    -webkit-transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 0) rotate3d(0, 1, 0, 0deg);
    transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 0) rotate3d(0, 1, 0, 0deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
}
@-webkit-keyframes slideInLeft {
  from {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes slideInLeft {
  from {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.slideInLeft {
  -webkit-animation-name: slideInLeft;
  animation-name: slideInLeft;
}
@-webkit-keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.slideInRight {
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight;
}
@-webkit-keyframes floatLeft {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(10px, 0);
  }
}
@keyframes floatLeft {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(10px, 0);
  }
}
@-webkit-keyframes floatRight {
  from {
    transform: translate(10px, 0);
  }
  to {
    transform: translate(0, 0);
  }
}
@keyframes floatRight {
  from {
    transform: translate(10px, 0);
  }
  to {
    transform: translate(0, 0);
  }
}
